<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ujn.edu.bussiness_management.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="ujn.edu.bussiness_management.model.Menu">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="menuName" jdbcType="VARCHAR" property="menuName" />
        <result column="menuUrl" jdbcType="VARCHAR" property="menuUrl" />

    </resultMap>
    <sql id="Base_Column_List">
        id, menuName, menuUrl
    </sql>
    <select id="findMenuById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from menu
        where id = #{id,jdbcType=BIGINT}
    </select>

</mapper>