<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ujn.edu.bussiness_management.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="ujn.edu.bussiness_management.model.Permission">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="permission" jdbcType="VARCHAR" property="permission" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
  </resultMap>
  <sql id="Base_Column_List">
    id, permission, name,url
  </sql>
  <insert id="insert" parameterType="ujn.edu.bussiness_management.model.Permission">
    insert into permission (id, permission, name, 
      url)
    values (#{id,jdbcType=BIGINT}, #{permission,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
      #{url,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ujn.edu.bussiness_management.model.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="permission != null">
        permission,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="url != null">
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="permission != null">
        #{permission,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="findByPid" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from permission
    where id = #{id,jdbcType=BIGINT}
  </select>
</mapper>